<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhiyi.ukafu"
    android:installLocation="internalOnly">

    <meta-data
        android:name="PLAT_CHANNEL"
        android:value="tencent" /> <!-- android:minSdkVersion="19"android:targetSdkVersion="27" -->
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:allowTaskReparenting="true"
        android:hasCode="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_config"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.zhiyi.ukafu.activitys.SettingActivity"
            android:label="@string/action_setting"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.zhiyi.ukafu.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.zhiyi.ukafu.MainActivity">
            <intent-filter>
                <action android:name="com.zhiyikeji.Notification" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <receiver
            android:name="com.zhiyi.ukafu.BootRecevier"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter android:priority="500">
                <action android:name="com.zhiyikeji.Notification" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name="com.zhiyi.ukafu.NotificationMonitorService"
            android:label="支付通知"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter android:priority="1000">
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name="com.zhiyi.ukafu.MainService"
            android:enabled="true"
            android:exported="false"
            android:label="主服务" />

        <activity
            android:name="com.zhiyi.ukafu.LogActivity"
            android:label="@string/title_activity_log" />
        <activity
            android:name="com.zhiyi.ukafu.activitys.WebViewActivity"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.zhiyi.ukafu.QrcodeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_qrcode"
            android:theme="@style/FullscreenTheme" />
        <activity android:name="com.zhiyi.ukafu.MerchantActivity" />
        <activity
            android:name="com.zhiyi.ukafu.QrcodeUploadActivity"
            android:label="@string/title_activity_qrcode_upload"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.zhiyi.ukafu.activitys.InitActivity"
            android:label="@string/title_activity_init"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.zhiyi.ukafu.RunTimeActivity"></activity>
    </application>

</manifest>